@model People
@{
    ViewData["Title"] = "Manager";
    ViewData["Page_Info"] = "Add User";
    ViewData["Description"] = "You can add user here";
}
<aside class="main-sidebar">
    <section class="sidebar">
        @Html.Partial("_Menu_Manager")

    </section>
</aside>
    <div class="box-body">
        <form method="post" asp-action="Manager_Add">

<p>
    <label asp-for="name">Name</label>
    <input asp-for="name" />
</p>
<p>
    <label asp-for="mail">Email</label>
    <input asp-for="mail" />
</p>
<p>
    <label asp-for="pass">Password</label>
    <input asp-for="pass" />
</p>
<p>
    <label asp-for="phone">Phone</label>
    <input asp-for="phone" />
</p>
<p>
    <label asp-for="projects">Projects</label>
    <input asp-for="projects" />
</p>
<p>
    <label asp-for="role">Role</label>
    <select asp-for="role">
        <option value="Manager">Manager</option>
        <option value="Customer">Customer</option>
        <option value="Employee">Employee</option>
    </select>
</p>
<p>
    <button type="submit" class="btn btn-danger " value="Submit">Add</button>
</p>
    </form>
</div>