
@{
    ViewData["Title"] = "Customer";
    ViewData["Page_Info"] = "Information Page";
    ViewData["Description"] = "You can edit your information here";
}
<aside class="main-sidebar">
    <section class="sidebar">
        @Html.Partial("_Menu_Customer")

    </section>
</aside>
