
@{
    ViewData["Title"] = "Employee";
    ViewData["Page_Info"] = "Main Page";
    ViewData["Description"] = "You can see projects here";
}
<aside class="main-sidebar">
    <section class="sidebar">
        @Html.Partial("_Menu_Employee")

    </section>
</aside>
