
@{
    ViewData["Title"] = "Employee";
    ViewData["Page_Info"] = "Info Page";
    ViewData["Description"] = "You can see customer's information here";
}
<aside class="main-sidebar">
    <section class="sidebar">
        @Html.Partial("_Menu_Employee")

    </section>
</aside>
