
@{
    ViewData["Title"] = "Manager";
    ViewData["Page_Info"] = "User Management";
    ViewData["Description"] = "You can manage users here";
}

<aside class="main-sidebar">
    <section class="sidebar">
        @Html.Partial("_Menu_Manager")

    </section>
</aside>
