@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="sidebar-menu" data-widget="tree">
    <li><a asp-area="" asp-controller="Home" asp-action="Employee_Index"><i class="fa fa-files-o text-blue"></i> <span>Main Page</span></a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Employee_Info"><i class="fa fa-book text-yellow"></i> <span>Customer Information</span></a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-circle-o text-red"></i> <span>Logout</span></a></li>
</ul>
